<div >
 
    <img src="../../../../assets/survey image.png" class="d-block " style="height: 45rem; width: 80rem; position:relative; border-radius: 10px;"
    alt="...">
    <h1 style=" position:absolute;
    top:20%;
    left:45%;  color: #4e4040; font-weight: 600 ; font-size: 30px;  ">Welcome {{user.firstName}}</h1>
    <h2 style=" position:absolute;
    top:35%;
    left:20%; font-family: Merriweather,serif; color: #4e4040; font-weight: 600 ; font-size: 30px;  ">Create FREE online surveys with <br> unlimited questions and <br> responses!</h2>
    
       
    </div>
    <!-- 
    Create FREE online surveys with <br> unlimited questions and <br> responses! -->
    