<div>
 
    <img src="../../../assets/survey11.jpg" class="d-block w-100" style="height: 50rem; width: 100rem; position:relative; "
    alt="...">
    <h2 style=" position:absolute;
    top:35%;
    left:33%; font-family: Merriweather,serif; color: #ffffff; font-weight: 600 ; font-size: 45px;  ">Welcome To Our Website</h2>

        <button mat-raised-button color="primary" type="submit" routerLink="/login" style=" position:absolute;
        top:55%; background-color:  #04AA6D;
        left:45%;color:black; border: 1px solid black; border-radius: 20px;">
            Lets Get Started!
          </button>
    </div>
    <!-- 
    Create FREE online surveys with <br> unlimited questions and <br> responses! -->
    